<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/games/fragments/head :: head('Listagem de Jogos')}"></th:block>
<body>
<th:block th:replace="~{/games/fragments/head :: header}"></th:block>
<div class="container">
    <div class="d-flex align-items-center my-2">
        <h1 class="mr-3">Listagem de Jogos</h1>
        <a th:href="@{/games/create}" class="btn-primary p-2">Cadastrar Jogo</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${games}">
            <td scope="row" th:text="${game.name}"></td>
            <td scope="row" th:text="${game.description}"></td>
            <td scope="row" th:text="${game.price}"></td>
            <td>
                <a th:href="@{/games/edit/{id}(id=${game.id})}">Editar</a>
            </td>
            <td>
                <a th:href="@{/games/delete/{id}(id=${game.id})}">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="~{/games/fragments/footer :: footer}"></th:block>
</body>
</html>